/*.hide {
    -webkit-animation-name: hideRectangle;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
}


@-webkit-keyframes hideRectangle {

    from {}

    to {
        height: 0%;
    }

}


.show {
    -webkit-animation-name: showRectangle;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
}


@-webkit-keyframes showRectangle {

    from {
        height: 0%;
    }

    to {
        height: 16.66666%;
    }

}

.picto:hover {
    opacity: 0.8;
}
*/
