#containerSmallImg {
    position: relative;
    width: 100%;
}

.div1Animated{

    float: left;
    margin-right: 3.333%;
    margin-bottom: 3.333%;
    position: relative;
}

.div1Img {
    float: left;

    /*! border: 1px solid white; */
    margin-right: 3.333%;
    margin-bottom: 3.333%;

    position: relative;
}

.div1Img {
    height: 100%;
}


.div2Img{
    height: 100%;
    background-color: rgba(204, 204, 204, 0.35);
    border-radius: 10%;
    border: 1px solid white;
    width: 100%;
    text-align: center;
    position: relative;
}

.div2Img:hover{
    background-color: rgba(255, 29, 29, 0.55);
    border-radius: 10%;
    cursor: pointer;
}

.rectangle{
    position: absolute;
    background-color: rgba(135, 250, 175, 0.55);
    border: 1px solid white;
    border-radius: 10%;
    bottom: -1px;
    width: 100%;
    transition-duration: 0.2s;
}

.rectangle:hover{
    background-color: rgba(255, 29, 29, 0.55);
    cursor: pointer;
}
