#block {
    height: 100%;
    width: 100%;
    position: relative;
    position: absolute;
    opacity: 1;
    z-index: -1;
}

#divPower{
    position: absolute;
    margin: 0;
    position: absolute;
    right: 1%;
    top: 50%;
    bottom: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
}

#divPower:hover{
    border-radius: 10%;
    cursor: pointer;
    //background-color: black;
    background-color: rgba(204, 204, 204, 0.35);
}

#power{
   height: 80%;
}

#power>img{
    height: 100%;
}

img {
    cursor: pointer;
}

#firstContainer {
    /*! float: left; */
    width: 60%;
    height: 99%;
    display: inline-block;
}

#containerImg {
    height: 342px;
    width: 342px;
    margin: auto;
}


.image {
    width: 105px;
    height: 105px;
    /*! background-color: blueviolet; */
    float: left;
    margin: 1%;
    border-radius: 5%;
    text-align: center;
    background-color: rgba(204, 204, 204, 0.35);
    border: 1px solid white;
}

.image:hover{
    background-color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
}

.image img {
    display: inline-block;
    height: 80%;

}

#containerPicto {
    /*! height: 69px; */
    /*! width: 330px; */
    text-align: center;
    /*! margin: auto; */
    display: none;
}

#containerPicto > div {
    float: left;
    width: 110px;
    text-align: center;
    height: 100%;
}

#containerPicto img {
    height: 80%;
}

.picto:hover{
    opacity: 0.8;
}

#secondContainer {
    /*! display: none; */
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 40%;
}

#containerInput {
    height: 40%;
    position: relative;
}

#containerInput > label {
    font-size: 2.5rem;
    display: block;
    font-family: sans-serif;
    color: white;
    margin-bottom: 2%;
}

input {
    z-index: 2;
    background-color:rgba(0, 0, 0, 0);
    color:white;
    border: none;
    outline:none;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 2%;
}

#containerInput #inputBg {
    width: 233px;
    height: 35px;
    color: white;
    background-color: rgba(204, 204, 204, 0.35);
    border: 1px solid white;
    font-size: 1rem;
    position: relative;
    margin-bottom: 2%;
}




#pwdImg{
    height: 50%;
}

#pPwd {
    font-size: 0.8rem;
    /*! text-decoration: underline; */
    display: inline-block;
    font-family: arial, sans-serif;
    width: 230px;
    color: yellow;
}

#pPwd:hover {
    cursor: pointer;
    text-decoration: underline;
}



#loading {
    width: 24%;
    text-align: center;
    //background-color: orange;
    position: absolute;
    top: 108%;
    display: none;
}

#loading > img {
    display: inline-block;
    width: 50%;
}

#border {
    height: 20px;
    background #0077FF;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
}
