.windowClassrooms{
  position: absolute;
  position: relative;
  height: 80%;
  background-color: rgb(204, 204, 204);
  border: 2px solid white;
  //border-radius: 2%;
  z-index: 500;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  -webkit-transform: translate(-50%, -50%);
}

#beforewindowClassrooms{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
 // transition-duration: 0.5s;
}

/*#beforewindowClassrooms:hover{
  cursor: pointer;
  opacity: 0.3;
  background-color: red;
}*/

#blocClassrooms{
   height: 100%;
  width: 100%;
  position: relative;
}

.containerImgC{
   display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  width: 30%;
  height: 30%;
  //box-shadow: 0px 0px 5px 1px white;
  -webkit-flex-direction: column;
  text-align: center;
  margin: 1rem 0rem 1rem 1rem;
  position: relative;
  float: left;
}

.classroomImage{
   display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  border: 2px solid white;
  position: absolute;
  position: relative;
  border-radius: 5%;
  background-color: rgba(204, 204, 204, 1);
  width: 80%;
  height: 80%;
  -webkit-transition-duration: 0.1s;
}

.classroomImage{
  box-shadow: 0px 0.5px 10px 0px grey;
  -webkit-transition-duration: 0.2s;
}

.classroomImage:hover{
  -webkit-transform: scale(1.03);
}

#classroomDefault{
  display: inline-block;
  height: 100%;
  position: absolute;
}


.classroomIcon{
  height: 90%;
}

.classroomImage:hover{
  cursor: pointer;
}

.classroomImage:active{
  transform: scale(0.92);
}

.nameClassroom{
/*   position: absolute;
  bottom: -1rem;
  width: 100%;
  text-align: center;
  font-size: 0.9rem; */
  font-size: 0.8rem;
}


.selectedIconClassroom{
  height: 50px;
  width: 50px;
  background-color: red;
  position: absolute;
}

.currentClassroom{
  height: 80%;
  width: auto;
  //position: absolute;
}
