.windowPupills{
  position: absolute;
  height: 80%;
  background-color: rgb(204, 204, 204);
  border: 2px solid white;
  border-radius: 2%;
  z-index: 500;
  overflow-y: scroll;
}

.croix{
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
}

.croix:hover{
  opacity: 1;
}

#beforewindowPupills{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  //transition-duration: 0.5s;
}

/*#beforewindowPupills:hover{
  cursor: pointer;
  opacity: 0.3;
  background-color: red;
}*/

#blocPupills{
  height: 100%;
  width: 100%;
  position: relative;
}

.containerImg{
  float: left;
  display: inline-block;
  width: 30%;
  height: 30%;
  margin-right: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0.25rem;
  text-align: center;
  position: relative;
  //box-shadow: 0px 0px 5px 1px white;
}

.pupillImage{
  border: 2px solid white;
  position: absolute;
  position: relative;
  border-radius: 5%;
  background-color: rgba(204, 204, 204, 1);
  width: 80%;
  height: 80%;
  -webkit-transition-duration: 0.1s;
  left: 8%;
}


.pupillImage{
  box-shadow: 0px 0.5px 10px 0px grey;
  -webkit-transition-duration: 0.2s;
}

.pupillImage:hover{
  -webkit-transform: scale(1.03);
}

.pupillIcon{
  height: 50%;
  max-width: 100%;
}

.pupillImage:hover{
  cursor: pointer;
}

.pupillImage:active{
  transform: scale(0.92);
}

.namePupill{
  position: absolute;
  bottom: -1rem;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
}

.selectedIcon{
  height: 50px;
  width: 50px;
  background-color: green;
  position: absolute;
}

#pupillDefault{
  display: inline-block;
  height: 80%;
  position: absolute;
}

.currentPupill{
  height: 80%;
  max-width: 100%;
}
